.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  margin-bottom: 30px;
}

.featureSvg {
  height: 200px;
  width: 200px;
}
.featureItem{
  margin-bottom: 30px;
}
